<footer id="footer">
  <div id="foot-logo">
      <img src="../../img/logo.png" alt="logo">
  </div>
  <div id="footer-links">
    <h3>Additional Resources</h3>
    <a href="https://www.alnwickgarden.com/the-garden/poison-garden/">Poison Garden</a>
    <a href="https://techport.nasa.gov/view/10498">Space Plants</a>
    <a href="https://themysteriousworld.com/10-most-beautiful-gardens-in-the-world/">Garden Inspiration</a>
  </div>
  <div id="copy">
    <p>&copy; Team Plant-Ur-Terrain 2020</p>
  </div>
  
</footer>