<footer>
  <img src="#" alt="logo">
  <p>&copy; Team Plant-Ur-Terrain 2020</p>
  <h2>Additional Resources</h2>
  <ul>
    <li>
      <a href="https://www.alnwickgarden.com/the-garden/poison-garden/">Poison Garden</a>
    </li>

    <li>
      <a href="https://techport.nasa.gov/view/10498#stage">Space Plants</a>
    </li>

    <li>
      <a href="https://themysteriousworld.com/10-most-beautiful-gardens-in-the-world/">Garden Inspiration</a>
    </li>
  </ul>
</footer>