<footer id="footer">
  <div id="foot-logo">
      <img src="../../img/logo.png" alt="logo">
  </div>
  <div id="footer-links">
    <h3>Additional Resources</h3>
    <a href="https://www.alnwickgarden.com/the-garden/poison-garden/" target="blank">Poison Garden</a>
    <a href="https://techport.nasa.gov/view/10498" target="blank">Space Plants</a>
    <a href="https://www.thespruce.com/vegetable-garden-ideas-4156309" target="blank">Garden Inspiration</a>
  </div>
  <div id="copy">
    <p>&copy; Team Plant-Ur-Terrain 2020</p>
  </div>
  
</footer>