<footer id="footer">

  <img id= "foot-logo" src="../../img/logo.png" alt="logo">
  <p id="copy">&copy; Team Plant-Ur-Terrain 2020</p>
  
  <div id="footer-links">
  <h2>Additional Resources</h2>
  <ul>
    <li>
      <a href="https://www.alnwickgarden.com/the-garden/poison-garden/">Poison Garden</a>
    </li>

    <li>
      <a href="https://techport.nasa.gov/view/10498" >Space Plants</a>
    </li>

    <li>
      <a href="https://themysteriousworld.com/10-most-beautiful-gardens-in-the-world/">Garden Inspiration</a>
    </li>
  </ul>
  </div>
</footer>