  <header id="search-header">

    <img src="../../img/logo.png" alt="logo">

    <nav id="nav">
      <a href="../index.ejs">Home</a>
      <a href="../pages/greenhouse.ejs">Greenhouse</a>
      <a href="../pages/aboutUs.ejs">About Us</a>
    </nav>

  </header>
  
