  <header id="search-header">

    <img id="favicon" src="../../img/logo.png" alt="logo">

    <nav id="nav">
      <a id="one" href="/">Home</a>
      <a id="two" href="/greenhouse">Greenhouse</a>
      <a id="three" href="/aboutUs">About Us</a>
    </nav>

  </header>
  
<!-- changed hrefs from "../pages/aboutUs.ejs"  -->