<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/reset.css">
  <link rel="stylesheet" href="../CSS/base.css">
  <link rel="stylesheet" href="../CSS/layout.css">
  <link rel="stylesheet" href="../CSS/modules.css">
  <title>Gardener's Guide</title>
<!-- favicon link -->
<link rel="icon" href="../../img/favicon.png" type="image/png">

<!-- google custom font link -->

<link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Amarante&display=swap" rel="stylesheet">

</head>
