<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

  <%- include('./partials/header.ejs') %>

  <form action='/pages' method='post'>
  <input type='text' name='search' placeholder='Enter Plant Name' required>
  <button type='submit'>Search</button>
  </form>

  <%- include('./partials/footer.ejs') %>

</body>
</html>