<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/reset.css">
  <link rel="stylesheet" href="../CSS/base.css">
  <link rel="stylesheet" href="../CSS/layout.css">
  <link rel="stylesheet" href="../CSS/modules.css">
  <link rel="icon" href="../../img/favicon.png" type="image/png">
  <link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Amarante&display=swap" rel="stylesheet">
  <title>Log-In</title>
</head>
<body class="login-body">


  <main class="login-main">
    <h1 class="welcome-id">Please provide the following information<br>for a personalized garden planning experience.</h1>
    
    <form id= 'login_form' action='/addUser' method='post'>
      <h4>Name:</h2>
      <input type='text' name='name' placeholder='JaneJohn Doe' required>
      <input type='hidden' name='email' value='<%= mail %>' required>
      <h4>Zip code:</h2>
      <input type='text' name='zipcode' placeholder='98115' required>
          
      <button type='submit'>Submit</button>
    </form>
  </main>


</body>
</html>
