* {
  box-sizing: border-box;
  /* display: inline-block; */
  }





/* placeholder for google font styles, amarante is font in logo */
h1 {
  font-family: 'Amarante', cursive;
}

p {
  font-family: 'ABeeZee', sans-serif;
}