* {
  box-sizing: border-box;
  /* display: inline-block; */
  }





/* placeholder for google font styles, amarante is font in logo */
h1, h2, h4{
  font-family: 'Amarante', cursive;
}

h2 {
  font-size: 45px;
}

p {
  font-family: 'ABeeZee', sans-serif;
}