/* about us stuff */



#bio-main {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
}

#hexximg {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#hexxbio {
  grid-column: 3 / span 2;
  grid-row: 1 / 2;
}

#davidimg {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

#davidbio {
  grid-column: 1 / span 2;
  grid-row: 2 / 3;
}

#meghanimg {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

#meghanbio {
  grid-column: 3 / span 2;
  grid-row: 3 / 4;
}

#tiaimg {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}

#tiabio {
  grid-column: 1 / span 2;
  grid-row: 4 / 5;
}





/* Container needed to position the overlay. What should we do about width? */
/* will we want to flex or grid this stuff? */
.bio-pic-container {
  position: relative;
  width: 50%;
  max-width: 250px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 250px;
  height: 350px;
  border-radius: 20px;
}

/* Overlay that lays on top of container*/
.overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: .5s ease;
  opacity:0;
  padding: 20px;
  border-radius: 20px;
}

.bio-text {
  color: #f1f1f1;
  font-size: 20px;
  position: absolute;
  top: 45%;
  text-align: center;
}

/* Overlay fades in when you hover over container*/
.bio-pic-container:hover .overlay {
  opacity: 1;
}