/* about us stuff */

/* NESTED GRID */
/* grid is on main and then each bio area is a row */
/* grid is also on bio area container and img and bio text take up areas of that nested grid */

#bio-main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 25% 25% 25%;
  background-image: url(https://c0.wallpaperflare.com/preview/469/518/472/soil-dirt-texture-earth.jpg);
}

#hexx-bio-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 10% 30% 10% 20% 20% 10%;
  grid-template-rows: 100%;
  position: relative;
}

#david-bio-container {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 10% 20% 20% 10% 30% 10%;
  grid-template-rows: 100%;
  position: relative;
}

#meghan-bio-container {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: 10% 30% 10% 20% 20% 10%;
  grid-template-rows: 100%;
  position: relative;
}

#tia-bio-container {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  display: grid;
  grid-template-columns: 10% 20% 20% 10% 30% 10%;
  grid-template-rows: 100%;
  position: relative;
}

.image {
  width: 100%;
  height: 350px;
  border: 3px solid white;
  border-radius: 20px;
}

#hexximg, #meghanimg {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#davidimg, #tiaimg {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}


#hexxoverlay, #meghanoverlay {
  grid-column: 2 / 3;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);
  transition: .5s ease;
  opacity:0;
  border-radius: 20px;
}

#davidoverlay, #tiaoverlay {
  grid-column: 5 / 6;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);
  transition: .5s ease;
  opacity:0;
  border-radius: 20px;
}

#hexx-bio-container:hover #hexxoverlay,
#david-bio-container:hover #davidoverlay,
#meghan-bio-container:hover #meghanoverlay,
#tia-bio-container:hover #tiaoverlay  {
  opacity: 1;
}

.overlay-text {
  color: #f1f1f1;
  font-size: 20px;
  margin-top: 45%;
  text-align: center;
}

#hexxbio, #meghanbio {
  grid-column: 4 / 6;
  grid-row: 1 / 2;
  align-self: center;
  color: rgb(239, 232, 232);
}

#davidbio, #tiabio {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  align-self: center;
  color: rgb(239, 232, 232);
}