<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/head.ejs') %>

<body>

  <%- include('../partials/header.ejs') %>

<main id="bio-main">
  
  <div id="hexx-bio-container">
    <img src="../img/hexx.png" alt="Hexx photo" class="image" id="hexximg">
    <div id="hexxoverlay" > 
      <p class="overlay-text">
        Hexx King<br>Project Manager <br> Software Developer<br><br>Favorite plant:<br>venus fly trap
      </p>
    </div>

    <p id="hexxbio">Hexx King was born and raised in Texas and has been living in Seattle, WA since 2014. They are an active member in the LGBTQIA community and enjoys rollerskating and aerial performance in their free time.  They were initially drawn to coding through an interest in cyber security and soon joined a web development bootcamp to jump start their career in tech. Hexx plans to continue their education in web development while pursuing an internship in cyber security.<br>
      <a href="https://github.com/HexxKing" class="bio-links">Github</a><br>
      <a href="https://www.linkedin.com/in/hexx-king/" class="bio-links">LinkedIn</a>
    </p>
  </div>
  

  <div id="david-bio-container">
    <img src="../img/david.jpg" alt="David photo" class="image" id="davidimg">
    <div id="davidoverlay">
      <p class="overlay-text">
        David Dicken<br>Software Developer<br><br>Favorite plant:<br>sweet peas
      </p>
    </div>
      <p id="davidbio">David is a software developer who loves a good challenge. He is a SQL expert and is very interested in all of the applications of database normalization. <br>
        <a href="https://github.com/daviddicken" class="bio-links">Github</a><br>
        <a href="www.linkedin.com/in/david-dicken" class="bio-links">LinkedIn</a>
      </p>
  </div>
  

  <div id="meghan-bio-container">
    <img src="../img/meghan.jpg" alt="Meghan photo" class="image" id="meghanimg">
    <div id="meghanoverlay">
      <p class="overlay-text">
        Meghan Domeck<br>Software Developer<br><br>Favorite plant:<br>strawberries
      </p>
    </div>
      <p id="meghanbio">Meghan is a software developer from Ohio! She enjoys fixing things and solving problems. She is proactive about improving systems and willing to collaborate and work as part of a team. Software development became an interest after faced with a career change opportunity. She enjoys the challenge and impact that is made working in the coding field. She can also be found spending time with family and friends. Some of her interests are knitting, jigsaw puzzles and playing cello.<br>
        <a href="https://github.com/mdomeck" class="bio-links">Github</a><br>
        <a href="https://www.linkedin.com/in/meghan-domeck/" class="bio-links">LinkedIn</a>
      </p>
  </div>
  
  
  <div id="tia-bio-container">
    <img src="../img/tia.png" alt="Tia photo" class="image" id="tiaimg">
    <div id="tiaoverlay">
      <p class="overlay-text">
        Tia Low<br>Software Developer<br><br>Favorite plant:<br>climbing peas
      </p>
    </div>
      <p id="tiabio">Tia is a software developer bringing to the table an array of technical and soft skills. It was a winding road of previous work experience that left Tia looking for more of a challenge and returning to an interest in programming. This wide variety of jobs in diverse settings has developed her interpersonal skills and she retains an endless curiosity about people and their stories. She is interested in the ways the natural and technological worlds intersect, and how technology can help us understand the world around us.<br>
        <a href="https://github.com/TiaLow" class="bio-links">Github</a><br>
      <a href="https://www.linkedin.com/in/tia-low" class="bio-links">LinkedIn</a>
      </p>
  </div>
  

  <!-- font awesome icons for github and linkedin -->
          
  
</main>


  <%- include('../partials/footer.ejs') %>
  
  
</body>

</html>